body {
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  font-size: 13px;
}

.sequence {
  font-family: Courier New, Courier;
  font-size: 10pt;
  line-height: 130%;
  background-color: white;
}

.sequencehighlight,.variationhighlight,.stickyhighlight {
  background-color: #d3d3d3;
}

.sticky {
  background-color: yellow;
}

.variation {
  color: red;
  font-weight: bold;
}

.feattable {
  width: 400px;
  border-collapse: collapse ;
  padding: 0px;
  margin: 0px;
}

.feattable th {
  border-bottom: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: 11px;
  text-decoration: none;
}

.feattable tbody {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 0px;
  border-right: 0px;
}

.feattable td.start {
  width: 5%;
  text-align: right;
  vertical-align : top;
}

.feattable td.features {
  width: 75%;
  text-align: left;
  vertical-align : top;
}

.feattable td.interc {
  width: 1%;
  text-align: center;
  vertical-align : top;
}

.feattable td.stop {
  width: 19%;
  text-align: left;
  vertical-align : top;
}

.feattable td. {
}

.feattable td. {
}

a.featlink, a.featlink:visited {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 11px;
  border-bottom: 1px dotted darkgray;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

a.featlink:hover {
  color:white
}

.highlightrow,.stickyrowhighlight {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d3d3d3;
  font-size: 11px;
  text-decoration: none;
  line-height: 150%;
}

.stickyrow {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: yellow;
  font-size: 11px;
  text-decoration: none;
  line-height: 150%;
}

.nohighlightrow {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 11px;
  text-decoration: none;
  line-height: 150%;
}

.seqcomment {
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 11px;
  font-weight: bold;
}